<footer>

<div class="flex justify-between px-24 py-12 bg-dark text-white min-h-[80px] relative bottom-0">
    <div class="flex gap-24 justify-between text-offset">
        
        <div class="flex flex-col gap-4">
            <span class="font-medium font-heading text-2xl uppercase text-white">
                Resources
            </span>

            <a href="">About Us</a>
             <a href="">Cluster</a>
              <a href="">Digital Athlete</a>
               <a href="">Community</a>
                <a href="">Resources</a>
        </div>

        <div class="flex flex-col gap-4">
            <span class="font-medium font-heading  uppercase text-2xl text-white">
                Legal
            </span>

            <a href="">Sitemap</a>
             <a href="">Cookie Policy</a>
              <a href="">Privacy Policy</a>
               <a href="">Terms & Conditions</a>
        </div>

         <div class="flex flex-col gap-4">
            <span class="font-medium font-heading  uppercase text-2xl text-white">
                Contact
            </span>

            <div class="flex gap-2 ">
                <img src="/assets/img/location.svg" class="text-white h-fit" height="20" width="20" alt="">
                <span class="w-[12ch]">3 Church St. King Islan, Limerick</span>
            </div>

            <div class="flex gap-2 mt-3">
                <img src="/assets/img/envelope.svg" class="text-white" height="20" width="20" alt="">
                <span>hello@sportstechireland.com</span>
            </div>
        </div>
        
    </div>

    <div class="flex flex-col gap-4">
        <img src="/assets/img/logo.png" class="h-24">

        <div class="flex gap-6 justify-center">

        <div class="bg-[#342962] p-2.5 q text-white rounded-full w-fit">
            <img src="/assets/img/twitter.svg" class="h-5">
        </div>

           <div class="bg-[#342962] p-2.5 q text-white rounded-full w-fit">
            <img src="/assets/img/linkedin.svg" class="h-5">
        </div>
        </div>

    </div>
    
</div>
</footer>
