<div class=" relative h-96 rounded-md bg-cover bg-no-repeat" style="background: url({{bgImage}})">

			<div class="bg-[#a84053] h-full w-full  flex flex-col justify-between pt-12 pb-10 px-7 bg-opacity-60">

			<span class="font-bold text-white text-5xl font-heading uppercase">{{title}}</span>

			<div class="self-end">
				{{> button text="Find out more" }}
			</div>
			</div>

		</div>
